<a href="https://colab.research.google.com/github/jesspl/DataScience2022-3/blob/main/predicciones_de_ventas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Crea un repositorio GitHub que albergará el primer proyecto de portafolio. Sigan las instrucciones en el video de abajo para ayudarlos a completar esta tarea.

2) Usen Pandas para leer el conjunto de datos de predicción de ventas en un cuaderno de Google Colab y verifiquen los datos utilizando el comando df.head().  

3) Agreguen el cuaderno de Google Colab al repositorio de GitHub.  Abran la pestaña de “archivo” y hagan clic en “Guardar copia en Github”.

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('/content/drive/MyDrive/Colab_notebooks/coding_dojo/semana1/predicciones-de-ventas/sales_predictions.csv')

In [4]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052


*Proyecto 1 - Parte 2 (base)[DE1] *

Continuaremos trabajando con el repositorio de GitHub que crearon la semana pasada con el primer proyecto de portafolio. El objetivo de sus proyectos de portafolio es tener los elementos para mostrarles a los posibles empleadores que tienen habilidades de ciencia de datos y competencias.

El primer proyecto será de una predicción de ventas para productos alimenticios vendidos en diversas tiendas.  El objetivo de esto es ayudar al minorista a comprender las propiedades de los productos y los puntos de venta que desempeñan un papel crucial en el aumento de las ventas.

Para la parte 2, la tarea es usar Pandas para empezar a limpiar y explorar los datos. Al ser científicos de datos, alrededor del 80% de nuestro tiempo se dedica a la preparación de datos, así que este es un paso muy importante. 

Sus datos ya deberían estar cargados en el cuaderno de la parte 1 del proyecto.
Exploren los datos - ¿Qué necesitan para limpiar estos datos? ¡Límpienlos!  
Asegúrense de abordar cada una de las siguientes tareas:

1) ¿Cuántas filas y columnas?

2) ¿Cuáles son los tipos de datos en cada variable?

3) ¿Hay duplicados? Si es el caso, eliminen algunos duplicados.

4) Identifiquen los valores faltantes.

5) Decidan cómo abordar los valores faltantes y cómo hacerlo. (Esto requiere sus criterios, así que expliquen su elección).

6) Confirmen que no hay valores faltantes después de abordarlos.

7) Encuentren y arreglen alguna categoría inconsistente de datos (example: fix cat, Cat, and cats so that they are consistent) 

8) Para cualquier columna numérica, obtengan las estadísticas resumidas para cada uno (mínimo, máximo y media)

 

Aquí encontrarán algunos recursos para ayudarlos a considerar más maneras avanzadas de lidiar con valores faltantes en el conjunto de datos (consulten los recursos adicionales opcionales de Pandas al final de este capítulo para obtener más recursos al respecto):
Datos faltantes, sus tipos y métodos estadísticos para lidiar con ellos
6 diferentes maneras de compensar los valores faltantes en un conjunto de datos
Lidiando con datos faltantes: Supuestos y métodos clave para el análisis aplicado
No duden en usar otros recursos o técnicas que encuentren en línea que crean que pueden ser adecuados/útiles.

In [5]:
#¿Cuántas filas y columnas?
# Use el atributo shape para obtener el número de filas y columnas en tu marco de datos
#df.info()
df.shape

(8523, 12)

In [6]:
# ¿Cuáles son los tipos de datos en cada variable?
# Verifica los tipos de datos de la columna usando el atributo dtypes
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [7]:
#3) ¿Hay duplicados? Si es el caso, eliminen algunos duplicados.
#usar duplicadted() para mostrar datos duplicados y sum() para agregar todos los valores verdaderos

df.duplicated()

#df = df.drop_duplicates()
#df.duplicated().sum()

# No hay valores duplicados

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [8]:
#4) Identifiquen los valores faltantes.

# Hay datos faltantes en la segunda columna (columna 'y')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [10]:
#4) Identifiquen los valores faltantes.

df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [12]:
#5) Decidan cómo abordar los valores faltantes y cómo hacerlo. (Esto requiere sus criterios, así que expliquen su elección).

filtro=df[['Item_Weight', 'Outlet_Size', 'Item_Identifier' ]]

filtro2=filtro.sort_values(by=['Item_Identifier']) #, ascending=False

print(filtro2)


#primer criterio 

#el peso del intem parece que tiene relacion con el identrificador del item,
# por lo que se podria reemplazar el peso del producto que este vacio por los pesos del mismo identificador

#los tamaños del item no veo relacion aparente con respecto al peso

#seria mejor descartar los productos con campos vacios en los casos que no haya manera de relacionarlos

# se opto por organizar los elementos por item_identifier asi poder establecer el peso del item ya que es la relacion mas cercana

      Item_Weight Outlet_Size Item_Identifier
8043        11.60         NaN           DRA12
118         11.60         NaN           DRA12
1693        11.60       Small           DRA12
1197        11.60         NaN           DRA12
1245        11.60        High           DRA12
...           ...         ...             ...
7926        14.65      Medium           NCZ54
214         14.65         NaN           NCZ54
1896          NaN      Medium           NCZ54
7166          NaN       Small           NCZ54
7738        14.65      Medium           NCZ54

[8523 rows x 3 columns]

In [34]:
#ejecucion del punto 5

clear=df.sort_values(by=['Item_Identifier']) #, ascending=False

clear["Item_Weight"].fillna( method ='ffill',  inplace = True)
clear[['Item_Identifier', 'Item_Weight', 'Outlet_Identifier' ]]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8043,DRA12,11.60,Low Fat,0.068535,Soft Drinks,143.0154,OUT010,1998,NaN,Tier 3,Grocery Store,283.6308
118,DRA12,11.60,Low Fat,0.041178,Soft Drinks,140.3154,OUT017,2007,NaN,Tier 2,Supermarket Type1,2552.6772
1693,DRA12,11.60,LF,0.000000,Soft Drinks,141.9154,OUT035,2004,Small,Tier 2,Supermarket Type1,992.7078
1197,DRA12,11.60,Low Fat,0.000000,Soft Drinks,141.6154,OUT045,2002,NaN,Tier 2,Supermarket Type1,3829.0158
1245,DRA12,11.60,Low Fat,0.040912,Soft Drinks,142.3154,OUT013,1987,High,Tier 3,Supermarket Type1,2552.6772
...,...,...,...,...,...,...,...,...,...,...,...,...
7926,NCZ54,14.65,Low Fat,0.083489,Household,161.3552,OUT049,1999,Medium,Tier 1,Supermarket Type1,7148.0288
214,NCZ54,14.65,Low Fat,0.000000,Household,161.5552,OUT010,1998,NaN,Tier 3,Grocery Store,324.9104
1896,NCZ54,14.65,Low Fat,0.082956,Household,164.0552,OUT027,1985,Medium,Tier 3,Supermarket Type3,5523.4768
7166,NCZ54,14.65,Low Fat,0.145952,Household,160.9552,OUT019,1985,Small,Tier 1,Grocery Store,162.4552
7738,NCZ54,14.65,Low Fat,0.083699,Household,163.4552,OUT018,2009,Medium,Tier 3,Supermarket Type2,2599.2832

In [39]:
df1=clear.sort_values(by=['Outlet_Identifier'])

df1["Outlet_Size"].fillna( method ='ffill',  inplace = True)

#df1[['Item_Identifier', 'Item_Weight', 'Outlet_Identifier', 'Outlet_Size' ]]

     Item_Identifier  Item_Weight Outlet_Identifier Outlet_Size
8043           DRA12        11.60            OUT010         NaN
5330           FDX37        16.20            OUT010         NaN
6489           FDX32        15.10            OUT010         NaN
3941           FDX31        20.35            OUT010         NaN
1845           FDX27        20.70            OUT010         NaN
...              ...          ...               ...         ...
354            FDU09         7.71            OUT049      Medium
2041           FDU10        10.10            OUT049      Medium
7228           FDE10         6.67            OUT049      Medium
3232           FDE21        12.80            OUT049      Medium
4963           FDD02        16.60            OUT049      Medium

[8523 rows x 4 columns]

In [41]:
df1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8043,DRA12,11.60,Low Fat,0.068535,Soft Drinks,143.0154,OUT010,1998,NaN,Tier 3,Grocery Store,283.6308
5330,FDX37,16.20,Low Fat,0.105498,Canned,101.4700,OUT010,1998,NaN,Tier 3,Grocery Store,399.4800
6489,FDX32,15.10,Regular,0.000000,Fruits and Vegetables,146.2786,OUT010,1998,NaN,Tier 3,Grocery Store,433.4358
3941,FDX31,20.35,Regular,0.024815,Fruits and Vegetables,234.0958,OUT010,1998,NaN,Tier 3,Grocery Store,467.3916
1845,FDX27,20.70,Regular,0.191009,Dairy,92.8436,OUT010,1998,NaN,Tier 3,Grocery Store,189.0872
...,...,...,...,...,...,...,...,...,...,...,...,...
354,FDU09,7.71,Regular,0.066701,Snack Foods,55.2956,OUT049,1999,Medium,Tier 1,Supermarket Type1,1255.6988
2041,FDU10,10.10,Regular,0.045763,Snack Foods,38.4848,OUT049,1999,Medium,Tier 1,Supermarket Type1,633.8416
7228,FDE10,6.67,Regular,0.000000,Snack Foods,133.0626,OUT049,1999,Medium,Tier 1,Supermarket Type1,1573.9512
3232,FDE21,12.80,Low Fat,0.022980,Fruits and Vegetables,117.7492,OUT049,1999,Medium,Tier 1,Supermarket Type1,1274.3412
4963,FDD02,16.60,Low Fat,0.050369,Canned,117.2124,OUT049,1999,Medium,Tier 1,Supermarket Type1,1422.1488

In [44]:
#6) Confirmen que no hay valores faltantes después de abordarlos.

df1.isna().sum()


#Se encontraron 555 valores restantes que no hay manera de relacionar por lo que procedo a eliminarlos

df1.dropna(inplace=True)

df1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5615,FDW15,15.35,Regular,0.055068,Meat,146.5734,OUT013,1987,High,Tier 3,Supermarket Type1,2375.5744
3796,DRD37,9.80,Low Fat,0.013830,Soft Drinks,45.3060,OUT013,1987,High,Tier 3,Supermarket Type1,1304.9680
2673,FDW60,5.44,Regular,0.017048,Baking Goods,174.6370,OUT013,1987,High,Tier 3,Supermarket Type1,2999.4290
1614,FDW11,12.60,Low Fat,0.048741,Breads,60.4194,OUT013,1987,High,Tier 3,Supermarket Type1,990.7104
5765,FDX11,16.00,Regular,0.106663,Baking Goods,179.7634,OUT013,1987,High,Tier 3,Supermarket Type1,4180.5582
...,...,...,...,...,...,...,...,...,...,...,...,...
354,FDU09,7.71,Regular,0.066701,Snack Foods,55.2956,OUT049,1999,Medium,Tier 1,Supermarket Type1,1255.6988
2041,FDU10,10.10,Regular,0.045763,Snack Foods,38.4848,OUT049,1999,Medium,Tier 1,Supermarket Type1,633.8416
7228,FDE10,6.67,Regular,0.000000,Snack Foods,133.0626,OUT049,1999,Medium,Tier 1,Supermarket Type1,1573.9512
3232,FDE21,12.80,Low Fat,0.022980,Fruits and Vegetables,117.7492,OUT049,1999,Medium,Tier 1,Supermarket Type1,1274.3412
4963,FDD02,16.60,Low Fat,0.050369,Canned,117.2124,OUT049,1999,Medium,Tier 1,Supermarket Type1,1422.1488

In [45]:
#reverificando que no quede informacion vacia
df1.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [65]:
#7) Encuentren y arreglen alguna categoría inconsistente de datos (example: fix cat, Cat, and cats so that they are consistent)

#.nunique() and .value_counts().

df1['Item_Type'].nunique()

df1['Item_Type'].value_counts()  #Datos normales

df1['Item_Fat_Content'].value_counts() #Datos con categoria inconsistente


#corrigiendo categoria

df1['Item_Fat_Content'] = df1['Item_Fat_Content'].replace('LF', 'low fat') 

df1['Item_Fat_Content'] = df1['Item_Fat_Content'].replace('reg', 'Regular')

df1['Item_Fat_Content'].value_counts() # Los valores ya estan con la categoria correcta

#revisando otras columnas

df1['Item_Identifier'].value_counts() #Parece bien

df1['Outlet_Location_Type'].value_counts() #toda la informacion parece bien

Tier 3    2795
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [67]:
#8) Para cualquier columna numérica, obtengan las estadísticas resumidas para cada uno (mínimo, máximo y media)

df1.describe().round(2)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7968.00,7968.00,7968.00,7968.00,7968.00
mean,12.87,0.06,141.01,1997.82,2309.59
std,4.65,0.05,62.28,8.66,1690.29
min,4.56,0.00,31.29,1985.00,33.96
25%,8.77,0.03,93.80,1987.00,1012.02
50%,12.60,0.05,142.92,1999.00,1936.48
75%,16.85,0.09,185.67,2004.00,3202.50
max,21.35,0.33,266.89,2009.00,13086.96